.detail {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(242, 245, 244);
  border: solid 1px #adacab;
  position: relative;
  width: 60rem;
  height: 90vh;
  padding: 10px;
}
.detail__text {
  border: solid 1px #adacab;
  padding: 1rem;
  width: 90%;
}
